# ============================
# Entorno virtual
# ============================
.venv/
venv/

# ============================
# Archivos de Python
# ============================
__pycache__/
*.py[cod]
*$py.class

# ============================
# Configuración de VS Code
# ============================
.vscode/

# ============================
# Archivos de entorno
# ============================
.env
*.env

# ============================
# Archivos temporales
# ============================
*.log
*.tmp
*.swp
*.bak

# ============================
# Archivos de Jupyter
# ============================
.ipynb_checkpoints/

# ============================
# Archivos de Streamlit
# ============================
.streamlit/

# ============================
# Datos locales
# ============================
*.xlsx
*.db
*.sqlite
*.mdb
*.accdb

# ============================
# Otros innecesarios
# ============================
.DS_Store
Thumbs.db
